<div class="row">
<!--  <div class="col-xxl-5">-->
<!--&lt;!&ndash;    <div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;        <ngx-profit-card></ngx-profit-card>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="col-md-6">&ndash;&gt;-->
<!--&lt;!&ndash;        <ngx-earning-card></ngx-earning-card>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--    <ngx-traffic-reveal-card></ngx-traffic-reveal-card>-->
<!--  </div>-->
  <div class="col-xxl-12">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
</div>

<!--<div class="row">-->
<!--  <div class="col-xxl-3">-->
<!--    <ngx-progress-section></ngx-progress-section>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-xxl-9">-->
<!--    <ngx-ecommerce-visitors-analytics></ngx-ecommerce-visitors-analytics>-->
<!--  </div>-->

<!--  <div class="col-xxl-3">-->
<!--    <ngx-user-activity></ngx-user-activity>-->
<!--  </div>-->
<!--</div>-->
