.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-date-picker {
  display: block;
}
.list-display-show{
  color: #1b1b1b;
  background-color: #1b1b1b;
}

.demo-infinite-container {
  height: 300px;
  padding: 10px;
  //border: 1px solid #e8e8e8;
  border-radius: 4px;
}

nz-list {
  padding: 24px;
}
